.provider-img {
  width: 70px;
}

.prov-disp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prov-disp-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  flex-wrap: wrap;
}
