.movie-card {
  padding: 4vmin 2vmin;
  width: 300px;
  margin: 0;
}

.movie-card-wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-card-img {
  width: 300px;
  box-shadow: 0 0 30px 2vmin black;
}

@media screen and (max-width: 500px) {
  .movie-card {
    margin: auto;
    width: 100px;
  }
  .movie-card-img {
    width: 100px;
  }
}
