.middle-text-cont {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 5.5vmin;
  font-family: CeraBold;
  text-align: center;
  color: white;
  width: 30vmax;
}
