.movie-container {
  padding-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

@media screen and (max-width: 800px) {
  .movie-container {
    padding-top: 10vw;
  }
}
