.navbar {
  height: 7vh;
  font-family: monospace;
  background-color: rgb(55, 55, 55);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 28vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-family: CeraMED;
}

.div-cont-mobile {
  display: none;
}

.link-cont {
  position: absolute;
  left: 1%;
  height: 7vh;
  display: flex;
  align-items: center;
}

.nav-list-element {
  padding: 0 1vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;

  font-family: CeraBold;
}

.nav-link {
  text-decoration: none;
  color: rgb(150, 150, 150);
  font-weight: bold;
}

.nav-link:hover {
  background-color: black;
  opacity: 0.5;
}

.mobile-icon {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .link-cont {
    display: none;
  }

  .div-cont-mobile {
    position: absolute;
    left: 0;
    background-color: #484848;
    top: 7vh;
    width: 40vw;
  }
  .mobile-icon {
    display: block !important;
    position: absolute;
    left: 5%;
  }

  .toggle {
    display: block !important;
  }
}
