.profile-cont {
  display: flex;
  padding: 3vmin;
  min-height: 93vh;
}

.rating {
  position: absolute;
  font-size: 10vmin;
  font-weight: 900;
  font-family: sans-serif;
  right: 5vw;
  top: 10vh;
  margin: 0;
}

.movie-title {
  font-size: 5vmin;
  font-weight: bold;
  margin: 0;
  font-family: sans-serif;
  color: #ea6910;
  border-bottom: 0.3vh solid black;
  padding-bottom: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
}

.movie-desc {
  text-align: justify;
  font-size: 3vmin;
  font-family: monospace;
  font-weight: 900;
  padding-top: 1vh;
  color: #ea6910;
  padding-right: 1vw;
  padding-left: 1vw;
}

.text-cont {
  padding: 3vh 3vw;
}

.title-cont {
  display: flex;
  width: 40vw;
}

.desc-cont {
  width: 40vw;
}

.cast {
  margin-top: 21vh;
  margin-left: 3vw;
  height: 40vh;
  width: 30vw;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 0.1vw solid black;
}

.cast-record {
  font-size: 2vmin;

  width: 28vw;
  display: flex;
}

.cell {
  width: 11vw;
  border: 0.1vw solid black;
  padding: 1vmin;
  color: #ea10ae;
}

.cell2 {
  color: #19b530;
  width: 11vw;
  border: 0.1vw solid black;
  padding: 1vmin;
}

@media screen and (max-width: 800px) {
  .profile-cont {
    display: block;
    padding: 3vmin;
    justify-content: center;
    align-items: center;
  }

  .rating {
    position: absolute;
    font-size: 7vmin;
    font-weight: 900;
    font-family: sans-serif;
    right: 5vw;
    top: 10vh;
    margin: 0;
  }

  .title-cont {
    display: flex;
    width: 87vw;
  }
  .desc-cont {
    width: 87vw;
  }

  .cast {
    margin-top: 0;
    width: 60vw;
    margin: auto;
    height: 25vh;
  }

  .cast-record {
    width: 60vw;
  }
  .cell {
    width: 28vw;
  }

  .cell2 {
    width: 28vw;
  }
}
